body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(255, 236, 185);
    text-align: center;
}
header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 229, 159);
    position: fixed;
    
}

main{
    padding-top: 100px;
}
.logo{
    margin-left: 50px;
}
.navig{
    
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 100px;
}
.button{
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 5px 10px;
    transition: 0.2s linear;
}
.button:hover{
    border: 2px solid #000000;
    box-shadow:  0 0 5px 1px rgb(56, 56, 56);
}

main img{
    margin: 40px 0px;
}




footer{
    width: 100%;
    height: 200px;
    background-color: black;
}
